@using Umbraco.Web.Models;
@using Umbraco.Web.PublishedModels;

@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var footer = Model as IFooter;
    var fbLink = footer.Value<Link>("Facebook");
    var instaLink = footer.Value<Link>("Instagram");
}


<footer>
    <div class="theme-default">
        @if (fbLink != null || instaLink != null || !string.IsNullOrWhiteSpace(footer.Email))
        {
            <div class="social">
                @if (fbLink != null)
                {
                  <a href="@fbLink.Url" title="@fbLink.Name" target="@fbLink.Target"><svg><use xlink:href="#svg-facebook"></use></svg></a>
                }
                @if (instaLink != null)
                {
                  <a href="@instaLink.Url" title="@instaLink.Name" target="@instaLink.Target"><svg><use xlink:href="#svg-instagram"></use></svg></a>
                }
    			@if (!string.IsNullOrWhiteSpace(footer.Email))
                {
                  <a href="mailto:@footer.Email" title="Email" target="_blank"><svg><use xlink:href="#svg-email"></use></svg></a>
                }
    		</div>
    	}
        <nav>
            @{
                var links = footer.Value<IEnumerable<Link>>("Links");
                if (links.Any())
                {
                    <ul>
                        @foreach (var item in links)
                        {
                            <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                        }
                    </ul>
                }
            }
            <p>@footer.CopyrightText</p>
        </nav>
    </div>
</footer>



