@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using Umbraco.Web.Models
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var hero = Model as IHero;
}

<div class="umb-grid">
    <div class="grid-section">
        @Html.Partial("~/Views/Partials/Components/Hero.cshtml", hero)
        @if (Model.MainBody != null && !string.IsNullOrWhiteSpace(Model.MainBody.ToHtmlString()))
        {
            <div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="wysiwyg">
                            <div>
                                @Model.MainBody
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @{
            var promos = Model.Value<IEnumerable<IPublishedElement>>("Promos");
            if (promos.Any())
            {
                <div class="noGap edge">
                    <div class="row clearfix">

                        @foreach (var content in promos)
                        {
                            var promo = content as ContentModels.Promo;
                            if (promo != null)
                            {
                                @Html.Partial("~/Views/Partials/Components/Promo.cshtml", promo)
                            }
                        }

                    </div>
                </div>
            }
        }

        @if (Model.SecondaryBody != null && !string.IsNullOrWhiteSpace(Model.SecondaryBody.ToHtmlString()))
        {
            <div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="wysiwyg">
                            <div>
                                @Model.SecondaryBody
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.HasValue("logos"))
        {
            var logoList = Model.Logos;
            if (logoList != null)
            {
                <div class="flex-auto-width">
                    <div class="row clearfix">
                    @foreach (var logo in logoList)
                    {

                        var logoContent = logo as ContentModels.LogoWithUrl;
                        if (logoContent != null)
                        {
                            if (logoContent.Logo != null)
                            {

                                if (logoContent.Link != null && logoContent.Link.FirstOrDefault() != null)
                                {
                                    var linkItem = logoContent.Link.FirstOrDefault();
                                    <a href="@linkItem.Url" title="@linkItem.Name" target="@linkItem.Target">
                                        <div class="col-md-2 column">
                                            <img src="@logoContent.Logo.Url" alt="@linkItem.Name" />
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <div class="col-md-2 column">
                                        <img src="@logoContent.Logo.Url" alt="@logoContent.Logo.Name" />
                                    </div>
                                }

                            }
                        }
                    }
                    </div>
                </div>
            }
        }
    </div>
</div>