@using Umbraco.Web.Models;
@using ContentModels = Umbraco.Web.PublishedModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
    var settingsPage = Model.Root();
    var seoMetaTags = settingsPage as ISeoMetaTags;
    var siteSettings = settingsPage as ISiteSettings;
}

<!DOCTYPE html>
<html lang="@Model.GetCultureFromDomains()">

<head>
    @{
        var metaTitle = string.Empty;
        if (seoMetaTags != null)
        {
            metaTitle = string.IsNullOrWhiteSpace(seoMetaTags.Title) ? Model.Name : seoMetaTags.Title;
        }
    }
    <title>@metaTitle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    @if (seoMetaTags != null)
    {
        <meta name="keywords" content='@string.Join(",", seoMetaTags.Keywords.ToArray<string>())' />
        <meta name="description" content="@seoMetaTags.Description" />

        if (seoMetaTags.HideFromSearch == true)
        {
            <meta name="robots" content="noindex, nofollow">
        }
    }
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    @Html.Partial("~/Views/Partials/SiteFurniture/Header.cshtml")

    <main>
        @RenderBody()
    </main>

    @Html.Partial("~/Views/Partials/SiteFurniture/Footer.cshtml", settingsPage)
    @Html.Partial("~/Views/Partials/SiteFurniture/CookieBanner.cshtml", settingsPage)
    <script src="/scripts/index.js" async></script>
    @RenderSection("EndBodyScripts", false)
    @{
        if (!string.IsNullOrWhiteSpace(siteSettings.GlobalScripts))
        {
            @Html.Raw(siteSettings.GlobalScripts) 
        }


        if (seoMetaTags != null && !string.IsNullOrWhiteSpace(seoMetaTags.CustomScripts))
        {
            @Html.Raw(seoMetaTags.CustomScripts) 
        }
    }

    <div class="hide">
        @Html.Partial("~/Views/Partials/SiteFurniture/Svg.cshtml")
    </div>
</body>
</html>