@using Umbraco.Web.Models
@using Umbraco.Web.Templates
@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>

@{
    Layout = "";
}

@{
    var item = Model.Items.FirstOrDefault();
    if (item != null)
    {
        var content = item.GetValue<IPublishedContent>("image");
        var headline = item.GetValue("headline");
        if (content != null)
        {
            var image = content.Url;
            if (!string.IsNullOrWhiteSpace(image))
            {
                var links = item.GetValue <RelatedLinks> ("link");
                if (links != null && links.FirstOrDefault() != null)
                {
                    var linkItem = links.FirstOrDefault();
                    var linkTarget = (linkItem.NewWindow) ? "_blank" : null;
                    <a href="@linkItem.Link" title="@linkItem.Caption" target="@linkTarget">
                        <div class="imageTitle">
                            <img title="@headline" src="@image" alt="@content.Name">
                            <h4>@headline</h4>
                        </div>
                    </a>

                }
                else
                {
                    <div class="imageTitle">
                        <img title="@headline" src="@image" alt="@content.Name">
                        <h4>@headline</h4>
                    </div>
                }



            }
        }
    }
}


