@using Umbraco.Web.PublishedContentModels
@using Umbraco.Web.Models
@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>
@{
    Layout = "";
}

<div class="flex-auto-width">

    @foreach (var item in Model.Items)
    {

        var content = item.GetValue<IPublishedContent>("image");
        if (content != null)
        {
            var image = content.Url;

            if (!string.IsNullOrWhiteSpace(image))
            {
                var links = item.GetValue<RelatedLinks>("link");
                if (links != null && links.FirstOrDefault() != null)
                {
                    var linkItem = links.FirstOrDefault();
                    var linkTarget = (linkItem.NewWindow) ? "_blank" : null;
                    <a href="@linkItem.Link" title="@linkItem.Caption" target="@linkTarget">

                            <img src="@image" alt="@linkItem.Caption">
                    </a>


                }
                else
                {
                    <img src="@image" alt="@content.Name">
                }

            }
        }

    }
</div>

